body{
    margin:0;
}
section{
    display:grid;
    place-content: center;
    place-items: center;
    margin-top: 30%;
}
#sum:hover{
    background-color: aquamarine;
    border-radius: 5px;
    padding:5px 20px ;
}
#num1,#num2{
    width:30%;
    padding-top: 5px;
}